.submit, .next {
  background-color: transparent;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover, .next:hover {
  background-color: orange;
  transition: ease-in 0.2s;
}

.submit {
  display: none;
}

.button-holder {
  display: flex;
  justify-content: center;
}