.next {
  background-color: transparent;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.next:hover {
  background-color: orange;
  transition: ease-in 0.2s;
}

.button-holder {
  display: flex;
  justify-content: center;
}

.answer {
  min-width: 200px;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

.answer:hover {
  cursor: pointer;
}